:root {
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #e5e5e5;
  --background-color: #2f303a;
}
*,
::before,
::after {
  box-sizing: border-box;
}
.list {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}
a,
body,
main,
footer {
  font-family: "Roboto", sans-serif;
  color: var(--title-text-color);
  text-decoration: none;
  list-style: none;
  border: 0px;
}

.section {
  padding: 94px 0px;
}
/* ===header styles=== */
.header {
  height: 80px;
  border: 1px solid;
  border-color: #ececec;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.header > .container {
  max-height: 80px;
}
.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19em;
  text-decoration: none;
  color: #000000;
  margin-right: 93px;
}
.design {
  color: var(--accent-color);
}
.nav.list {
  padding-left: 0px;
}
.nav.item:not(:first-child) {
  margin-left: 50px;
}

.nav.link {
  display: flex;
  font-style: normal;
  padding: 32px 0px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.info.list {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
}
.info.item > a.phone {
  margin-left: 50px;
}
.mail-to,
.phone {
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;
  align-items: center;
  margin-left: auto;

  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header {
  display: flex;
  justify-content: center;
}

.nav.menu:hover,
.mail-to:hover,
.phone:hover,
.nav.menu:focus,
.mail-to:focus,
.phone:focus {
  color: var(--accent-color);
}

/* === banner section styles === */

.banner {
  max-width: 1600px;
  height: 600px;
  background: var(--background-color);
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(transparent, rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);

  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36em;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}
.button.div {
  margin-top: 30px;
}
.order.button {
  padding: 10px 32px;
  background-color: var(--accent-color);
  font-family: inherit;
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87em;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  border-radius: 4px;
  border-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order.button:hover {
  background-color: #188ce8;
}
/* === особливості === */

.special {
  padding-top: 94px;
}

.containers {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.abilities.list {
  padding-left: 0px;
}
.abilities-item {
  margin-top: 0px;
  margin-bottom: 10px;
}
.abilities {
  flex-basis: calc((100% - 90px) / 4);
}
.abilities.list,
.abilities-item {
  text-decoration: none;
  display: flex;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.abilities-description {
  text-transform: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-top: 0px;
  margin-bottom: 0px;
}
.abilities.list {
  display: flex;
  justify-content: space-between;
}
/* ==== чим ми займаємось ==== */
h2 {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16em;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.container.examples {
  flex-direction: column;
}
.list.examples,
.list.workers {
  padding-left: 0px;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
}

.section.comand {
  background-color: #f5f4fa;
  margin-right: auto;
  margin-left: auto;
}
.example:not(:last-child),
.worker:not(:last-child) {
  margin-right: 30px;
}
.worker {
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.member {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18em;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 16px;
}
.position {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18em;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
}
.worker-box {
  padding: 30px 0px;
}

.filter {
  display: inline-block;
  padding: 6px 22px;
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.all,
.website,
.applications,
.dezign,
.marketing {
  border-style: none;
  box-shadow: none;
}
.filter {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.62em;
  background-color: #f5f4fa;
  box-shadow: none;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.applications,
.website {
  text-align: center;
  min-width: 145px;
}
.filter:active,
.filter:focus,
.filter:hover {
  background-color: #2196f3;
  color: #f5f4fa;
}
.projects {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2em;
  letter-spacing: 0.06em;
  color: #212121;
}
.description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87em;
  letter-spacing: 0.03em;
  color: #757575;
}

/* ====footer==== */
.footer {
  background-color: var(--background-color);
  color: var(--secondary-text-color);
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 60px;
  padding-top: 60px;
}

.footer a.logo {
  color: var(--secondary-text-color);
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19em;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}
address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
}
.fmail-to,
.fphone {
  color: rgba(255, 255, 255, 0.6);
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
}
.list-item {
  margin-top: 8px;
}

/* flex items */
.header,
.nav,
.nav.list,
.nav.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mail-to,
.phone,
.info.item,
.info.list,
.nav.item,
.nav.menu {
  display: flex;
  text-decoration: none;
}
.info.list {
  align-content: center;
}

.info.item {
  justify-content: flex-end;
}
.footer > .container {
  flex-direction: column;
}
/* ===== portfolio flexing ==== */

.list.filters {
  margin-bottom: 50px;
}
.filter-button {
  font-size: 16px;
  line-height: 1.625em;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
}

.container.filters {
  display: flex;
  flex-direction: column;
}
.list.filters {
  display: flex;
  justify-content: center;
}
.filter-button:not(:last-child) {
  margin-right: 8px;
}
.list.project {
  display: flex;
  flex-wrap: wrap;
}
.projects,
.description {
  margin-left: 0px;
}
.projects {
  letter-spacing: 0.06em;
  margin-top: 20px;
  margin-bottom: 4px;
}
.description {
  margin-top: 0px;
  letter-spacing: 0.03em;
}
.filter-button > .filter:hover {
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  color: #ffffff;
}
.preview {
  box-sizing: border-box;
  margin-right: 30px;
  margin-bottom: 30px;
  flex-basis: calc((100% - 90px) / 3);
}
.preview:nth-child(3n) {
  margin-right: 0px;
}
.preview:nth-child(n + 7) {
  margin-bottom: 0px;
}
.card-border {
  box-sizing: border-box;
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
  margin-top: 0px;
}
.projects {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 4px;
}
.description {
  margin-bottom: 0px;
}
/* ===== icons ===== */
.ico {
  max-width: 26px;
  padding-right: 10px;
  max-height: 80px;
  fill: #757575;
}
svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mail-to:hover svg,
.phone:hover svg,
.mail-to:focus svg,
.phone:focus svg {
  fill: #188ce8;
}

.abilities-ico {
  width: 70px;
  height: 70px;
}

.svg-box {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.social-links {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  padding-bottom: 0px;
}
.social-link,
.footer-link {
  display: inline-block;
  border-radius: 30px;
  width: 44px;
  height: 44px;
  margin-left: auto;
  margin-right: auto;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link .social-ico {
  box-sizing: border-box;
  width: 44px;
  height: 44px;
  padding: 12px;
  fill: #afb1b8;
}
.social-link:not(:last-child),
.footer-link:not(:last-child) {
  margin-right: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover svg,
.social-link:focus svg {
  fill: var(--secondary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}
.container.clients {
  display: flex;
  flex-direction: column;
}
.company-links {
  display: flex;
}
.company-link {
  display: inline-block;
  border-radius: 30px;
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.company-link:not(:last-child) {
  margin-right: 30px;
  transition-property: fill border-color;
}
.company-ico {
  box-sizing: border-box;
  width: 170px;
  height: 92px;
  fill: #afb1b8;
  display: flex;
  align-items: center;
  justify-content: center;
}
.company-link:hover svg,
.company-link:focus svg {
  fill: var(--accent-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.company-link:hover,
.company-link:focus {
  border-color: var(--accent-color);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer > .container {
  display: flex;
  flex-direction: row;
}
address {
  margin-top: 20px;
}
.join-us-heading {
  margin-top: 0px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.join-us {
  padding-top: 12px;
  margin-left: 70px;
}
.footer-link .footer-ico {
  box-sizing: border-box;
  width: 44px;
  height: 44px;
  padding: 12px;
  fill: #ffffff;
}
.footer-links {
  display: flex;
}
.footer-link {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover svg,
.footer-link:focus svg {
  fill: var(--secondary-text-color);
}
.footer-link:hover,
.footer-link:focus {
  background-color: var(--accent-color);
}
.preview:hover,
.project-image:focus > .preview {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* =====overlay===== */

.thumb {
  position: relative;
  overflow: hidden;
}
.img-box {
  position: relative;
}
.img-description {
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 27px;
  /* padding-bottom: 27px; */
  margin-bottom: 0px;
  margin-top: 0px;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;

  display: inline-block;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 70px;
}

.example-img {
  display: block;
}
.overlay {
  font-size: 18px;
  line-height: 1.56em;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px;

  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  opacity: 0.9;
  overflow: hidden;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-image:hover .overlay {
  transform: translateY(-294px);
}
.nav.link {
  position: relative;
}

.nav.link.current::after {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196f3;
}
/* ======== modal window ======= */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms linear;
}
.backdrop.is-hidden .modal {
  opacity: 0.5;
  scale: 0.5;
  transform: translate(-50%, -50%) scale(0.5);
  transition: transform 250ms linear;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: #ffffff;
  min-width: 528px;
  min-height: 581px;
  opacity: 1;
  scale: 1;
  transition: transform 250ms linear;
  padding: 40px;
  border-radius: 4px;
}
.close-modal {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  box-sizing: border-box;
  top: 8px;
  right: 8px;
}
.cross {
  fill: #000000;
  width: 11px;
  height: 11px;
}
/* ====== form ====== */
.form {
  display: flex;
  flex-direction: column;
  color: var(--primary-text-color);
}
h4 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15em;
  letter-spacing: 0.03em;
  color: #212121;
}
.form label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16em;
  letter-spacing: 0.01em;
}
.input {
  font-family: inherit;
  display: block;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  min-height: 40px;
  width: 100%;
  text-indent: 42px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.fake-input {
  position: relative;
  margin-bottom: 10px;
}
.form textarea {
  padding: 12px;
  resize: none;
  width: 100%;
  min-height: 120px;
  margin-bottom: 20px;
  text-indent: 0px;
}
textarea::placeholder {
  font-size: 12px;
  line-height: 1.16em;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
.form-field {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  position: relative;
}
.form a {
  text-decoration: underline;
  color: #2196f3;
}
label.policy {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
}
input[type="checkbox"] {
  margin-bottom: 0;
  margin-right: 7px;
}
.submit {
  display: block;
  min-width: 200px;
  min-height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87em;
  color: #ffffff;
  letter-spacing: 0.06em;
  border-style: none;
  margin-left: auto;
  margin-right: auto;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-ico {
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  /* margin: 11px 12px; */
  top: 0;
  left: 0;
  transform: translate(12px, 11px);
}
.fake-input:hover .form-ico,
.input:focus + .form-ico {
  fill: #188ce8;
}
.input:hover,
.input:focus {
  border: 1px solid #188ce8;
}
.fake-input:hover > .input {
  border: 1px solid #188ce8;
}
.close-modal:hover > .cross,
.close-modal:focus > .cross {
  fill: #188ce8;
}
.submit:hover,
.submit:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.footer-form {
  padding-top: 12px;
  margin-left: 93px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.sign {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-input {
  font-family: inherit;
  color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--background-color);
  padding: 15px 16px;
  outline: none;
  width: 100%;
  margin-right: 12px;
}
.footer-box {
  display: flex;
}
.footer-button {
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 29px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87em;
  letter-spacing: 0.06em;
  color: #ffffff;
  display: flex;
  border-style: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.ico-send {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
}
.footer-button:hover,
.footer-button:focus {
  background-color: #188ce8;
}
.agree-icon {
  display: inline-block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  background-image: url(../images/icon_check.svg);
  border: 2px solid black;
  border-radius: 4px;
}
.policy {
  display: flex;
  align-items: center;
}
.policy-checkbox:checked + .agree-icon {
  background-color: var(--accent-color);
  background-size: contain;
  background-origin: border-box;
}
.policy-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* svg.checkbox-checked,
svg.checkbox-unchecked {
  width: 16px;
  height: 15px;
  position: absolute;
  margin-right: 7px;
  left: -20px;
}
.checkbox-checked {
  visibility: hidden;
  position: absolute;
}
.checkbox-unchecked:hover {
  fill: var(--accent-color);
}

.policy-checkbox {
  opacity: 0;
  position: absolute;
  z-index: 10;
  left: -20px;
}
.policy-checkbox:checked + .checkbox-unchecked {
  visibility: hidden;
}
.policy-checkbox:checked ~ .checkbox-checked {
  visibility: visible;
} */
